# default
.gradle
/local.properties
/.idea/workspace.xml
.DS_Store
/build

# built application files
*.apk
*.ap_

# files for the dex VM
*.dex

# Java class files
*.class

# Local configuration file (sdk path, etc)
local.properties

# Intellij project files
*.iml
*.ipr
*.iws
.idea/

# Mac
.DS_Store

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

#Crashlytics
app/crashlytics.properties
app/src/main/assets/crashlytics-build.properties
app/src/main/res/values/com_crashlytics_export_strings.xml

# sign
keystore/shoma2da_key

# env
.envrc
